.about-box {
  background-color: rgba(20, 20, 36, 0.2); // Updated background color to better match "Why Choose Us" section
  color: #fff;
  padding: 2.5rem;
  font-family: Arial, sans-serif;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;

  &.about-box-visible {
    opacity: 1;
    transform: translateY(0);
  }

  .about-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 0;

    .about-hero-content {
      max-width: 50%;
      
      h1 {
        font-size: 2.5rem;
        font-weight: bold;
        
        .about-highlight {
          color: #00ff99;
        }
      }

      p {
        font-size: 1.2rem;
        margin-top: 0.625rem;
        opacity: 0.8;
      }
    }

    .about-hero-image {
      max-width: 40%;

      img {
        width: 100%;
        border-radius: 0.625rem;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;

      .about-hero-content, .about-hero-image {
        max-width: 100%;
      }

      .about-hero-image {
        margin-top: 1.5rem;
      }
    }
  }

  .about-how-we-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0.625rem;
    
    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      text-align: center;
      
      .about-highlight {
        color: #00ff99;
      }
    }

    .about-description {
      font-size: 1.2rem;
      opacity: 0.8;
      max-width: 80%;
      text-align: center;
      margin-top: 1rem;
    }
  }

  .about-get-started {
    text-align: left;
    margin-bottom: 2.5rem;

    h2 {
      font-size: 2rem;
      font-weight: bold;

      .about-highlight {
        color: #00ff99;
      }
    }

    .about-steps-wrapper {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }

    .about-steps-container {
      display: flex;
      justify-content: space-between;
      background: rgba(255, 255, 255, 0.05);
      padding: 1.25rem;
      width: fit-content;
      border-radius: 0.625rem;

      .about-steps {
        display: flex;
        align-content: center;
        gap: 1rem;
        flex-wrap: nowrap; // Allow steps to wrap

        .about-step {
          background: rgba(255, 255, 255, 0.1);
          padding: 1.25rem;
          border-radius: 0.625rem;
          text-align: center;
          flex: 1 1 15.625rem; // Allow steps to grow and shrink
          position: relative;
          width: 15rem;
          border: 1px solid rgba(255, 255, 255, 0.2);

          h3 {
            font-size: 1.5rem;
            margin-bottom: 0.625rem;
          }

          p {
            font-size: 1rem;
            opacity: 0.8;
          }

          .step-icon {
            font-size: 2rem;
            margin-bottom: 0.625rem;
            color: #00ff99;
          }
        }

        .about-step-arrow {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          color: #00ff99;
          margin: 0 1rem;
        }
      }

      @media (max-width: 768px) {
        .about-steps {
          flex-wrap: wrap; // Stack steps vertically on smaller screens
        }

        .about-step-arrow {
          display: none; // Hide arrows on smaller screens
        }
      }
    }
  }

  .about-ready-to-go {
    text-align: center;
    margin-top: 2.5rem;

    h2 {
      font-size: 2rem;
    }

    .about-buttons {
      margin-top: 1.25rem;

      .about-secondary-button {
        background-color: #00ff99;
        color: #2a2a3b; // Updated color to match background
        border: none;
        padding: 0.625rem 1.25rem;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 0.3125rem;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: #00cc77;
        }
      }
    }
  }
}
