// WhyChooseUs.module.scss
.container {
    padding: 40px;
    background-color: rgba(20, 20, 36, 0.2)   ;
    border-radius: 5px;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 40px;
    color: #CED8D8;
  }