// Color variables
$primary-color: #00FF7F;
$text-color: #F1F1F1;
$background-color: rgba(14, 19, 36, 0.29);
$gradient-start: rgba(255, 255, 255, 0);
$gradient-end-left: rgb(21, 21, 45);
$gradient-end-right: rgb(31, 31, 87);

.heading {
    opacity: 1;
    font-size: 2rem;
    color: $text-color;
}

.carousel-track {
    display: inline-block;
    animation: 15s slide infinite linear;

    .logo-item {
        width: 100px;
        display: inline-block;
        overflow: hidden;
        padding: 60px 0;
        margin: 0 40px;
    }

    img {
        height: 100px;
        width: auto;
    }
}

.carousel-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    white-space: nowrap;
    position: relative;
    overflow: hidden;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
        background: linear-gradient(to left, $gradient-start, $gradient-end-left);
        content: "";
        z-index: 2;
    }

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 100%;
        border-radius: 5%;
        background: linear-gradient(to right, $gradient-start, $gradient-end-right);
        content: "";
        z-index: 2;
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}