// ImageTextSection.module.scss
// Color variables
$text-color: #f2f2f2;

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
  
    &.imageText {
      flex-direction: row;
    }
  
    &.textImage {
      flex-direction: row-reverse;
    }
  
    .imageContainer {
      flex: 1;
      margin: 0 20px;
  
      img {
        width: 70%;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  
    .textContainer {
      flex: 1;
      margin: 0 20px;
  
      h2 {
        margin-bottom: 16px;
        color: $text-color;
        font-size: xx-large;
      }
  
      p {
        line-height: 1.6;
        color: $text-color;
        font-size: large;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;

      &.imageText,
      &.textImage {
        flex-direction: column;
      }

      .imageContainer,
      .textContainer {
        margin: 20px 0;
      }
    }
}